@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <MudThemeProvider />
        <MudDialogProvider />
        <MudSnackbarProvider />
        <article class="content px-4" style="padding: 0px 0px 0px 0px;">
            @Body
        </article>
    </main>
</div>
