@page "/counter"

<PageTitle>Load custom data</PageTitle>
<InputFile OnChange="HandleFileUpload" tex></InputFile>

@if (!string.IsNullOrEmpty(fileContent))
{
    <h2>File Content:</h2>
    <pre>@fileContent</pre>
}
@code {
    private string fileContent;

    private async Task HandleFileUpload(InputFileChangeEventArgs e)
    {
        var file = e.File;

        if (file != null)
        {
            using (var stream = file.OpenReadStream())
            {
                using (var reader = new StreamReader(stream))
                {
                    fileContent = await reader.ReadToEndAsync();
                }
            }
        }
    }
}
