@inject IJSRuntime Runtime
@using Microsoft.AspNetCore.Components.Forms
@using MudBlazor
<div style="align-content: center">
    <center>
        <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles">
            <ButtonTemplate>
                <MudButton HtmlTag="label"
                           Variant="Variant.Filled"
                           Color="Color.Primary"
                           StartIcon="@Icons.Material.Filled.CloudUpload"
                           for="@context.Id">
                    Upload File
                </MudButton>
            </ButtonTemplate>
        </MudFileUpload>
        @if (SelectedImage != "")
        {
            <img width="100%" src="@SelectedImage" />
        }
        <h1>@Title</h1>
    </center>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = "Video Title";
    public string SelectedImage { get; set; } = "";


    public async Task UploadFiles(IBrowserFile file)
    {
        //read all bytes
        using var stream = file.OpenReadStream(100000000); //Max size for file that can be read
        var inputFileDataBuffer = new byte[file.Size];

        //read all bytes
        await stream.ReadAsync(inputFileDataBuffer);
        // Create image preview, pepare for video conversion
        SelectedImage = $"data:{file.ContentType};base64,{Convert.ToBase64String(inputFileDataBuffer)}";
        StateHasChanged();
    }
}
