@page "/weather"

<div class="row">
	<div class="col-md-4">
		<VideoLoader Title="Background"></VideoLoader>
	</div>
	<div class="col-md-4">
		<VideoLoader Title="Intro"></VideoLoader>
	</div>
	<div class="col-md-4">
		<VideoLoader Title="Outro"></VideoLoader>
	</div>
</div>
@code {
}
